@page "/courseregistrations/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<div style="display: flex; align-items: center;">
    <img src="css/courseregistrations.png" alt="CourseRegistrations Image" style="width: 60px; height: 60px; margin-right: 10px;">
    <h3>Create New Course Registration</h3>
</div>
<hr />
<br />

<FormComponent ButtonText="Create CourseRegistration" courseregistration="courseregistration" OnValidSubmit="@CreateCourseRegistration" />


@code {
    CourseRegistration courseregistration = new CourseRegistration();

    private IList<JobSeeker>? JobSeekers;
    private IList<Course>? Courses;

    protected async override Task OnInitializedAsync()
    {
        JobSeekers = await _client.GetFromJsonAsync<List<JobSeeker>>($"{Endpoints.JobSeekersEndpoint}");
        Courses = await _client.GetFromJsonAsync<List<Course>>($"{Endpoints.CoursesEndpoint}");
    }

    private async Task CreateCourseRegistration()
    {
        await _client.PostAsJsonAsync(Endpoints.CourseRegistrationsEndpoint, courseregistration);
        _navManager.NavigateTo("/courseregistrations/");
    }

}

