@page "/courseregistrations/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<div style="display: flex; align-items: center;">
	<img src="css/courseregistrations.png" alt="CourseRegistrations Image" style="width: 60px; height: 60px; margin-right: 10px;">
	<h3>View Course Registration</h3>
</div>
<FormComponent courseregistration="courseregistration" Disabled="true" />

@code {
	[Parameter] public int id { get; set; }
	CourseRegistration? courseregistration = new CourseRegistration();
	protected async override Task OnParametersSetAsync()
	{
		courseregistration = await
		_client.GetFromJsonAsync<CourseRegistration>($"{Endpoints.CourseRegistrationsEndpoint}/{id}");
	}
}