@inherits LayoutComponentBase

<div class="page">
   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            
            <img style="width: 194px; height: 151px; left: 0px; top: 0px; position: absolute" src="css/logo.png"/>
            <div style="left: 267px; top: 56px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="findjobs" style="text-decoration: none; color: inherit;">
                    Find Jobs
                </a>
            </div>
            <div style="left: 395px; top: 56px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="browsecompanies" style="text-decoration: none; color: inherit;">
                    Browse Companies
                </a>
            </div>
            <div style="left: 582px; top: 56px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="chats" style="text-decoration: none; color: inherit;">
                    Chats
                </a>
            </div>
            <div style="left: 681px; top: 55px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="courses" style="text-decoration: none; color: inherit;">
                    Courses
                </a>
            </div>
            <div style="left: 808px; top: 55px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="communitycorner" style="text-decoration: none; color: inherit;">
                    Community Corner
                </a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
