@inherits LayoutComponentBase

<div class="page">

    <main>
        <div class="top-row px-4 auth" style="display: flex; justify-content: flex-end; align-items: center;">
            
             <LoginDisplay />
            
            <a href="/" class="nav-link">
                <img style="width: 194px; height: 151px; left: 0px; top: 0px; position: absolute" src="css/logo.png" />
            </a>
            
            <div style="left: 250px;position: absolute;">
                 <a href="jobseekers" class="nav-link">
                    Job Seeker
                </a>
            </div>
            <div style="left: 353px;position: absolute;">
                <a href="courses" class="nav-link">
                    Course
                </a>
            </div>
            <div style="left: 438px;position: absolute;">
                <a href="courseregistrations" class="nav-link">
                    Course Registration
                </a>
            </div>
            <div style="left: 600px;position: absolute;">
                <a href="organizers" class="nav-link">
                    Organizer
                </a>
            </div>
            <div style="left: 700px;position: absolute;">
                <a href="staffs" class="nav-link">
                    Staff
                </a>
            </div>
            <div style="left: 755px;position: absolute;">
                <a href="companies" class="nav-link">
                    Company
                </a>
            </div>
            <div style="left: 850px;position: absolute;">
                <a href="jobs" class="nav-link">
                    Job
                </a>
            </div>
            <div style="left: 900px;position: absolute;">
                <a href="jobapplications" class="nav-link">
                    Job Application
                </a>
            </div>
            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

