@inherits LayoutComponentBase

<div class="page">
   @* <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            
            <img style="width: 194px; height: 151px; left: 0px; top: 0px; position: absolute" src="css/logo.png"/>
            <div style="left: 250px; top: 56px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="jobseeker" style="text-decoration: none; color: inherit;">
                    Job Seeker
                </a>
            </div>
            <div style="left: 300px; top: 55px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="course" style="text-decoration: none; color: inherit;">
                    Course
                </a>
            </div>
            <div style="left: 400px; top: 55px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="courseregistration" style="text-decoration: none; color: inherit;">
                    Course Registration
                </a>
            </div>
            <div style="left: 500px; top: 55px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="organizer" style="text-decoration: none; color: inherit;">
                    Organizer
                </a>
            </div>
            <div style="left: 600px; top: 55px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="staff" style="text-decoration: none; color: inherit;">
                    Staff
                </a>
            </div>
            <div style="left: 700px; top: 55px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="company" style="text-decoration: none; color: inherit;">
                    Company
                </a>
            </div>
            <div style="left: 800px; top: 55px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="job" style="text-decoration: none; color: inherit;">
                    Job
                </a>
            </div>
            <div style="left: 900px; top: 55px; position: absolute; color: #817E7E; font-size: 16px; font-family: Inter; font-weight: 400; word-wrap: break-word">
                <a href="jobapplication" style="text-decoration: none; color: inherit;">
                    Job Application
                </a>
            </div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
