
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="css/logo.png" alt="Logo" style="width: 100px; height: auto;">
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jobseekers">
                <span class="oi oi-plus" aria-hidden="true"></span> JobSeeker
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courses">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Course
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="courseregistrations">
                <span class="oi oi-list-rich" aria-hidden="true"></span> CourseRegistration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="organizers">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Organizer
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="staffs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Staff
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="companies">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Company
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jobs">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Job
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="jobapplications">
                <span class="oi oi-list-rich" aria-hidden="true"></span> JobApplication
            </NavLink>
        </div>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
