@page "/jobs/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<div style="display: flex; align-items: center;">
    <img src="css/jobs.png" alt="Jobs Image" style="width: 60px; height: 60px; margin-right: 10px;">
    <h3>Create Job</h3>
</div>
<hr />
<br />

<FormComponent ButtonText="Create Job" job="job" OnValidSubmit="@CreateJob" />


@code {
    Job job = new Job();

    private IList<Company>? Companies;
    private IList<Staff>? Staffs;

    protected async override Task OnInitializedAsync()
    {
        Companies = await _client.GetFromJsonAsync<List<Company>>($"{Endpoints.CompaniesEndpoint}");
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
    }

    private async Task CreateJob()
    {
        await _client.PostAsJsonAsync(Endpoints.JobsEndpoint, job);
        _navManager.NavigateTo("/jobs/");
    }

}

