@page "/staffs/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<div style="display: flex; align-items: center;">
	<img src="css/staffs.png" alt="Staffs Image" style="width: 60px; height: 60px; margin-right: 10px;">
	<h3>Edit Staff</h3>
</div>

<FormComponent ButtonText="Update" OnValidSubmit="EditStaff" staff="staff" />

@code {
	[Parameter] public int id { get; set; }
	Staff? staff = new Staff();

	protected async override Task OnParametersSetAsync()
	{
		staff = await _client.GetFromJsonAsync<Staff>($"{Endpoints.StaffsEndpoint}/{id}");
	}

	async Task EditStaff()
	{
		await _client.PutAsJsonAsync($"{Endpoints.StaffsEndpoint}/{id}", staff);
		_navManager.NavigateTo("/staffs/");
	}

}
