@page "/"


<PageTitle>Index</PageTitle>

<div style="width: 1450px; position: relative; background: white">
    <div style="width: 1450px; height: 360px; left: 0px; top: 0px; position: absolute; background: #E3D5FA"></div>
    <div style="width: 850px; left: 97px; top: 55px; position: absolute; color: black; font-size: 40px; font-weight: 700; word-wrap: break-word">Unleash your potential and conquer any career challenge with Jobstacle</div>
    <div style="width: 423px; height: 26px; left: 97px; top: 191px; position: absolute; color: black; font-size: 16px; font-weight: 400; word-wrap: break-word">Join us today and pave the way to your dream job!</div>
    <a href="authentication/register" style="text-decoration: none; color: inherit; position: absolute; left: 97px; top: 257px; width: 275px; height: 73px; background: #4348DB; border-radius: 7px; display: flex; justify-content: center; align-items: center;">
        <div style="color: white; font-size: 32px; font-weight: 700; word-wrap: break-word;">
            Register Now
        </div>
    </a>
    <img style="width: 305px; height: 305px; left: 1024px; top: 27px; position: absolute" src="css/2ppl.png" />
 
	<div style="width: 232px; height: 34px; left: 611px; top: 386px; position: absolute; color: black; font-size: 32px; font-weight: 700; word-wrap: break-word">Top Employers</div>
	<img style="width: 201px; height: 41px; left: 441px; top: 522px; position: absolute" src="css/C2.png" />
	<img style="width: 167px; height: 77px; left: 788px; top: 504px; position: absolute" src="css/C3.png" />
	<img style="width: 166px; height: 41px; left: 1101px; top: 522px; position: absolute" src="css/C4.png" />
	<img style="width: 114px; height: 120px; left: 181px; top: 483px; position: absolute" src="css/C1.png" />
	<img style="width: 207px; height: 69px; left: 448px; top: 665px; position: absolute" src="css/C6.png" />
	<img style="width: 235px; height: 141px; left: 754px; top: 629px; position: absolute" src="css/C7.png" />
	<img style="width: 155px; height: 89px; left: 1106px; top: 655px; position: absolute" src="css/C8.png" />
	<img style="width: 133px; height: 99px; left: 172px; top: 650px; position: absolute" src="css/C5.png" />

    
    <div style="width: 100%; height: 190px; background: #4843db; position: absolute; left: 0; top: 800px; display: flex; align-items: center; justify-content: center;">
        <div style="color: white; font-size: 40px; font-weight: 700; word-wrap: break-word; text-align: center; padding: 20px;">
            Overcoming your job search obstacles
        </div>
    </div>
   


    
    <div class="testimonial-container">
        <h2 style="color: white; margin-left: 20px; margin-top: 20px; margin-bottom: 50px;">Our Testimonials</h2>
        <div class="testimonial-text" id="testimonialText">
            "Thanks to Jobstacle, I not only found a job that perfectly aligns with my skills and aspirations but also experienced a job search process that felt personalized, supportive, and obstacle-free." ~Paul John, Pineapple CEO
        </div>
        <img class="testimonial-image" id="testimonialImage" src="./css/John.jpg" alt="Testimonial Image" />
    </div>

        
    <script>
        // JavaScript to switch the testimonial text and image every 5 seconds
        const testimonials = [
            {
                text: '"Thanks to Jobstacle, I not only found a job that perfectly aligns with my skills and aspirations but also experienced a job search process that felt personalized, supportive, and obstacle-free."',
                name: 'Paul John, Pineapple CEO',
                image: './css/John.jpg' // Adjust the path to the actual image
            },
            {
                text: '"Jobstacle transformed my job search into a tailored adventure, providing me with opportunities that matched my profile seamlessly and guiding me through every step with ease."',
                name: 'Alesha Chan, President of NexGen Innovations',
                image: './css/Alesha.jpg' // Adjust the path to the actual image
            },
            // Add more testimonials as needed
        ];

        let currentTestimonialIndex = 0;
        const testimonialTextElement = document.getElementById('testimonialText');
        const testimonialImageElement = document.getElementById('testimonialImage');
        let intervalId;

        function switchTestimonial() {
            const currentTestimonial = testimonials[currentTestimonialIndex];
            testimonialTextElement.innerHTML = `${currentTestimonial.text} ~${currentTestimonial.name}`;
            testimonialImageElement.src = currentTestimonial.image;
            currentTestimonialIndex = (currentTestimonialIndex + 1) % testimonials.length;
        }

        function handleVisibilityChange() {
            if (!document.hidden) {
                // Page becomes visible
                switchTestimonial();
                // Restart the interval timer
                intervalId = setInterval(switchTestimonial, 5000);
            } else {
                // Page becomes hidden, clear the interval timer
                clearInterval(intervalId);
            }
        }

        // Initial call to set the first testimonial
        switchTestimonial();

        // Set up the event listener for the visibilitychange event
        document.addEventListener('visibilitychange', handleVisibilityChange);

        // Set up the interval timer
        intervalId = setInterval(switchTestimonial, 5000); // Switch every 5 seconds
    </script> 


    
</div>

