@page "/jobseekers/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<div style="display: flex; align-items: center;">
	<img src="css/jobseekers.png" alt="JobSeekers Image" style="width: 60px; height: 60px; margin-right: 10px;">
	<h3>View Job Seeker</h3>
</div>
<FormComponent jobseeker="jobseeker" Disabled="true" />

@code {
	[Parameter] public int id { get; set; }
	JobSeeker? jobseeker = new JobSeeker();
	protected async override Task OnParametersSetAsync()
	{
		jobseeker = await
		_client.GetFromJsonAsync<JobSeeker>($"{Endpoints.JobSeekersEndpoint}/{id}");
	}
}