@page "/courses/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<div style="display: flex; align-items: center;">
    <img src="css/courses.png" alt="Courses Image" style="width: 60px; height: 60px; margin-right: 10px;">
    <h3>Create New Course</h3>
</div>
<hr />
<br />

<FormComponent ButtonText="Create Course" course="course" OnValidSubmit="@CreateCourse" />


@code {
    Course course = new Course();

    private IList<Organizer>? Organizers;
    private IList<Staff>? Staffs;

    protected async override Task OnInitializedAsync()
    {
        Organizers = await _client.GetFromJsonAsync<List<Organizer>>($"{Endpoints.OrganizersEndpoint}");
        Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffsEndpoint}");
    }

    private async Task CreateCourse()
    {
        await _client.PostAsJsonAsync(Endpoints.CoursesEndpoint, course);
        _navManager.NavigateTo("/courses/");
    }

}

