@page "/courses/view/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<div style="display: flex; align-items: center;">
	<img src="css/courses.png" alt="Courses Image" style="width: 60px; height: 60px; margin-right: 10px;">
	<h3>View Course</h3>
</div>
<FormComponent course="course" Disabled="true" />

@code {
	[Parameter] public int id { get; set; }
	Course? course = new Course();
	protected async override Task OnParametersSetAsync()
	{
		course = await
		_client.GetFromJsonAsync<Course>($"{Endpoints.CoursesEndpoint}/{id}");
	}
}