@page "/jobapplications/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager


<div style="display: flex; align-items: center;">
	<img src="css/jobapplications.png" alt="JobApplications Image" style="width: 60px; height: 60px; margin-right: 10px;">
	<h3>Edit Job Application</h3>
</div>

<FormComponent ButtonText="Update" OnValidSubmit="EditJobApplication" jobapplication="jobapplication" />

@code {
	[Parameter] public int id { get; set; }
	JobApplication? jobapplication = new JobApplication();

	protected async override Task OnParametersSetAsync()
	{
		jobapplication = await _client.GetFromJsonAsync<JobApplication>($"{Endpoints.JobApplicationsEndpoint}/{id}");
	}

	async Task EditJobApplication()
	{
		await _client.PutAsJsonAsync($"{Endpoints.JobApplicationsEndpoint}/{id}", jobapplication);
		_navManager.NavigateTo("/jobapplications/");
	}

}
